---
import "../styles/global.css"
import "../styles/reset.css"
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import PillHeading from "./PillHeading.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif}"
);
const { name, imgPath, title, suptitle } = Astro.props;
if (!images[imgPath])
  throw new Error(
    `"${imgPath}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif}"`
  );
---
<Image src={images[imgPath]()} alt={name} />
<div class="banner_box">
<PillHeading>{title}</>
<p>{suptitle}</p>
  </div>


<style>
.banner_box{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: var(--border-r);
    background: var(--hvid);
    padding: 48px 60px;
}
</style>